<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="main.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
       <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".menu-icon").click(function(){
                    $(".menu-icon").toggleClass("active")
                })
                
                $(".menu-icon").click(function(){
                    $(".sidebar").toggleClass("active")
                })
            })
        
        </script>
    </head>
    <body>
        <button><a href="#">Log Out</a></button>
        <div class="container">
            <div class="box"> <div class="imgBox"> <img src="img/fb.png">
                </div> <div class="details">
                    <div class="content">
                        <h2>Horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div>
            </div>
            <div class="box"><div class="imgBox"> <img src="img/tw.png">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/gp.png">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/photo-1513151233558-d860c5398176.jpg">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/space1.jpg">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/banner.jpg">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/space2.jpg">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p><h1><a href="#">START</a></h1>
                     </div>
                </div></div>
            <div class="box"><div class="imgBox"> <img src="img/acb18e4d3f2cf18d17eeca717f0cfa0d_t.jpeg">
                </div> <div class="details">
                    <div class="content">
                        <h2>horn bomb</h2>
                        <p> uyuyhj buwebfw ejeuweb wjbyb efwbiejf wuefibwfj whihfnwj iunw fbfifuwe ihfiwfiwf wifwie fwiefwie fiwenfiw fiwf wefiwfiw fiwfiw fiwfw fiwf iwbfiwf wiebwo wi</p>
                        <h1><a href="#">START</a></h1>
                     </div>
                </div>
            </div>
             
        </div>
          <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="sidebar">
            <img src="img/fb.png">
            <ul class="menu">
                <li><a href="main.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact US</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
            </ul>
        </div> 
    <footer>
      <div class="footer-container">
        <div class="left-col">
          <img src="img/fb.png" alt="" class="logo">
          <p class="rights-text">© 2020 Created By DarkCode All Rights Reserved.</p>
        </div>

        <div class="right-col">
          <h1>Our Newsletter</h1>
          <div class="border"></div>
          <p>Enter Your Email to get our news and updates.</p>
          <form action="" class="newsletter-form">
            <input type="text" class="txtb" placeholder="Enter Your Email">
            <input type="submit" class="btn" value="submit">
          </form>
        </div>
      </div>
    </footer>
    </body>
</html>